.card.sidebar
  .card-header.header-custom
    Sobre
  .card-text
    %span.block= sanitize "Chute do Brasileirão é um site para você acompanhar os resultados dos jogos do <b>Campeonato Brasileiro - Série A</b>.", tags: %w(b)
    %span.block= sanitize 'Você também pode dar um <b>"chute"</b> no placar do jogo do dia', tags: %w(b)

.card.sidebar
  .card-header.header-custom
    \#TOP 5 Chutadas
  .card-table
    %ul.links
      %li
        CARD 1
      %li
        CARD 2

.card.sidebar
  .card-header.header-custom
    \#Zona Libertadores
  .card-list
    %ul
      - @top_rankings.each do |ranking|
        %li
          %span.success="#{ranking.posicao}º"
          %span - 
          %span=image_tag(ranking.team.avatar)
          %span=ranking.team.name
          %span.font-weight-bold="(#{ranking.pontos})"

.card.sidebar
  .card-header.header-custom
    \#Zona Rebaixados
  .card-list
    %ul
      - @bottom_rankings.reverse_each do |ranking|
        %li
          %span.danger="#{ranking.posicao}º"
          %span - 
          %span=image_tag(ranking.team.avatar)
          %span=ranking.team.name
          %span.font-weight-bold="(#{ranking.pontos})"
      
