= flash_message_row

.row
  .col-md-9
    = title_row "Jogos de Hoje"

    .component-jogos-hoje
      .row
        = render partial: 'index/partials/jogos_hoje', collection: @jogos_hoje, cached: true

    = title_row "Jogos passados"

    .component-jogos-passados
      .row
        .col-12
          %div{id: "carouselPartidas", 
              class: "carousel slide",
              data: { ride: "carousel" } }
            .carousel-inner
              = render partial: 'index/partials/jogos_passados', collection: @jogos_passados, as: :jogo_passado, cached: true
              
              
  = sidebar