= flash_message_row

.row
  .col-md-8
    %section.mb-5 
      %h1.title Jogos de Hoje
      - if @today_matches.empty?
        .card.ml-3.mr-3
          .card-text
            %span.block= sanitize '<b>Não há jogos do Brasileirão hoje</b>', tags: %w(b)
            %span.block= sanitize 'Apenas nos jogos do dia você pode dar aquele "chutasso". Acompanhe abaixo quais serão os próximos jogos e quando eles acontecerão.', tags: %w(b)
                
      - else
        .component-today-matches
          .row
            = render_from_partials_cache(@today_matches)
    
    %section.mb-5
      %h1.title Próximos Jogos
      - if @next_matches.empty?
        .card.ml-3.mr-3
          .card-text
            %span.block= sanitize '<b>Ihhhh, não há próximos jogos</b>', tags: %w(b)
            %span.block= sanitize "Parece que chegamos ao fim do Brasilerão #{@current_championship.year}. Acompanhe os jogos anteriores e fique atento ao início do Brasileirão #{@current_championship.year + 1}.", tags: %w(b)
      - else        
        .swiper-container.swiper-container-initialized.swiper-container-horizontal{ data: { controller: "carousel-pagy", url: next_matches_url, filled: "false", fetching: "false", size: @next_matches_pagy[:items], page: @next_matches_pagy[:page], last: @next_matches_pagy[:last] } }
          .swiper-wrapper
            = render_from_partials_cache(@next_matches)
          .swiper-pagination
          .spinner-border-wrapper.d-none{ data: { "carousel-pagy": { target: "loading" } } }
            .spinner-border.spinner-small
              %span.sr-only
              
    %section.mb-5
      - unless @previous_matches.empty?
        %h1.title Jogos Anteriores
        
        .swiper-container.swiper-container-initialized.swiper-container-horizontal{ data: { controller: "carousel-pagy", url: previous_matches_url, filled: "false", fetching: "false", size: @previous_matches_pagy[:items], page: @previous_matches_pagy[:page], last: @previous_matches_pagy[:last] } }
          .swiper-wrapper
            = render_from_partials_cache(@previous_matches)
          .swiper-pagination
          .spinner-border-wrapper.d-none{ data: { "carousel-pagy": { target: "loading" } } }
            .spinner-border.spinner-small
              %span.sr-only

  = sidebar