= flash_message_row

.row
  .col-md-8
    .card
      .card-header.header-custom
        %span Alterar Senha
      .card-body
        = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
          = render "layouts/shared/error_messages", resource: resource
          = f.hidden_field :reset_password_token

          .form-group
            = required_label f, :password, "Nova Senha"
            = f.password_field :password, autocomplete: "new-password", class: "form-control"

          .form-group
            = required_label f, :password_confirmation, "Confirmação Nova Senha"
            = f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control"

          = required_fields

          = f.submit "Salvar", class: "btn btn-success btn-sm btn-block" 
          = render "users/shared/links"
  = sidebar