.border-style
  .container.inner-border-style
    %nav.navbar.nav-custom.navbar-custom.navbar-expand-lg.navbar-light
      %a.navbar-brand{href: ""}
        %i.fab.fa-cuttlefish.fa-2x 
        %span.text hute Brasileirão
      %ul.ml-auto.navbar-nav
        %li.nav-item.menu-item
          - if current_user
            %span
              = link_to destroy_user_session_path, method: :delete do
                Sair
                %i.fas.fa-sign-out-alt.fa-1x 
          - else
            %span
              = link_to new_user_session_path do
                Entrar
                %i.fas.fa-sign-in-alt.fa-1x 
    %nav.navbar.nav-custom.navbar-custom.navbar-expand-lg.navbar-light
      %button.navbar-toggler.mx-auto{type: "button",
        data: { toggle: "collapse",
                target: "#navbar"},
        aria: { controls: "navbar", 
                expanded: "false", 
                label: "Toggle navigation"}
      }
        %span.navbar-toggler-icon
      .collapse.navbar-collapse#navbar
        %ul.navbar-nav.mx-auto
          %li.nav-item.menu-item
            %span
              = link_to "Jogos de Hoje", root_path
          %li.nav-item.menu-item
            %span
              = link_to "Tabela", "#"
          %li.nav-item.menu-item
            %span
              = link_to "Rodadas", "#"
          - if current_user
            %li.nav-item.menu-item
              %span
                = link_to "Meus Chutes", bets_path
            %li.nav-item.menu-item
              %span
                = link_to edit_user_registration_path(current_user) do
                  %i.fas.fa-user-lock 
              
                