.border-style
  .container.inner-border-style
    %nav.navbar.nav-custom.navbar-custom.navbar-expand-lg.navbar-light
      %a.navbar-brand(href=root_path)
        = image_tag("logo.png")
      %ul.ml-auto.navbar-nav.top-menu
        %li.nav-item.menu-item
          - if current_user
            %span
              = link_to destroy_user_session_path, method: :delete do
                Sair
                %i.fas.fa-sign-out-alt.fa-1x 
          - else
            %span
              = link_to new_user_session_path do
                Entrar
                %i.fas.fa-sign-in-alt.fa-1x 
    %nav.navbar.nav-custom.navbar-custom.navbar-expand-lg.navbar-light
      %button.navbar-toggler.mx-auto{type: "button",
        data: { toggle: "collapse",
                target: "#navbar"},
        aria: { controls: "navbar", 
                expanded: "false", 
                label: "Toggle navigation"}
      }
        %span.navbar-toggler-icon
      .collapse.navbar-collapse#navbar
        %ul.navbar-nav.mx-auto.bottom-menu
          %li.nav-item.menu-item
            %span
              = link_to "Jogos de Hoje", root_path
          %li.nav-item.menu-item
            %span
              = link_to "Tabela", rankings_path
          %li.nav-item.menu-item
            %span
              = link_to "Rodadas", rounds_path
          %li.nav-item.menu-item.entrar
            %span
              = link_to new_user_session_path do
                Entrar
                %i.fas.fa-sign-in-alt.fa-1x 
        
          - if current_user
            %li.nav-item.menu-item
              %span
                = link_to "Meus Chutes", bets_path
            