= flash_message_row

.row
  .col-md-8
    .card
      .card-header.header-custom
        %span Minha Conta
      .card-body
        = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
          = render "layouts/shared/error_messages", resource: resource

          .form-group
            = required_label f, :email, "Email"
            = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"

          .form-group
            = required_label f, :first_name, "Nome"
            = f.text_field :first_name, class: "form-control"

          .form-group
            = required_label f, :last_name, "Sobrenome"
            = f.text_field :last_name, class: "form-control"

          .form-group
            = f.label :password, "Nova senha"
            = f.password_field :password, autocomplete: "new-password", class: "form-control"
            %small (Deixe em branco caso não queira alterar sua senha atual)

          .form-group
            = f.label :password_confirmation, "Confirmação nova senha"
            = f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control"

          .form-group
            = f.label :current_password, "Atual Senha"
            = f.password_field :current_password, autocomplete: "current-password", class: "form-control"
            %small (Adicione sua senha atual para realizar as alterações)

            = required_fields
                      
          = f.submit "Salvar", class: "btn btn-success btn-sm btn-block" 
  = sidebar